@import 'compass/reset';
@import 'compass/css3';
@import 'lib/bootstrap-modal';
@import 'lib/bootstrap-select';
@import 'lib/animate';
@import 'fonts';
@import 'lib/bootstrap';
@import 'branding/att';

// Variables and global styles
// example usage: 
//
// h3 {
//  font-size: 2em;
//  @include breakpoint(small) {
//  font-size: 1.2em;
//  }
// }

@mixin breakpoint($point) {
  @if $point == largest {
    @media (max-width: 1600px) { @content; }
  }
  @else if $point == larger {
    @media (max-width: 1050px) { @content; }
  }
  @else if $point == large {
    @media (max-width: 968px)  { @content; }
  }
  @else if $point == medium {
    @media (max-width: 768px)  { @content; }
  }
  @else if $point == small {
    @media (max-width: 600px)  { @content; }
  }
  @else if $point == smaller {
    @media (max-width: 480px)  { @content; }
  }
  @else if $point == smallest {
    @media (max-width: 400px)  { @content; }
  }
  @else {
    @media (max-width: $point)  { @content; }
  }
}

@mixin active-bounce() {
  &:active {
    position: relative;
    top: 1px;
  }
}

::selection,
::-moz-selection {
    background: #ee1c25;
}

.container-fluid {
  max-width: 940px;
  padding: 0;
  @include breakpoint(large) {
    padding: 0 15px;
  }
}

.text-center {
  text-align: center;
}

%pull-right {
  float: right;
}

%text-right {
  text-align: right;
}

%text-center {
  text-align: center;
}

%inline-block {
  display: inline-block;
}

.text-left {
  text-align: left;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.inline-block {
  display: inline-block;
}
.block {
  display: block;
}
.spacer-top {
  margin-top: 35px;
}
.spacer-bottom {
  margin-bottom: 35px;
}
.no-float {
  float: none;
}

.bold {
  font-family: $font-regular;
}

.underline {
  border-bottom-color: #fff;
  &:hover {
   border-bottom-color: #fff; 
  }
}
