// Ahoy there, terrible scss ahead 

.main-call-inner {
  .btn-topper {
    width: auto;
  }
}

.protection {
  .btn-default.dropdown-toggle, .btn-tertiary {
    background: #fff;
    color: #777;
    font-family: $font-light;
    text-transform: none;
  }
  #selection_container {
    width: 100%;
  }
}

.lt-ie9 {
  .shipping-table {
    width: 500px;
    margin: 0 auto;
    float: none;
  }
  .background-inner  .col-sm-9 {
    width: 700px;
    margin: 0 auto;
    float: none;
  }
  .spinner-bg {
    background: #1998D3;
  }
}

.lt-ie9 .claim-buttons-wrap {
  .mice {
    margin-left: 10px;
  }
  .btn-topper {
    margin-left: 10px;
  }
}
