// resets, fonts, variables, helpers in globals
@import 'globals';
@import 'modules/buttons';
@import 'modules/header';
@import 'modules/footer';
@import 'modules/modals';
@import 'shame';

iframe {
  margin:0;
  padding:0;
  outline:0;
  border:0;
  background:transparent;
  vertical-align:baseline;
  text-align:left;
  font-size:100%;
  width:100%;
  min-height:100%;
}

html, body {
  height: 100%;
  width: 100%;
}

img {
  max-width: 100%;
}

* {
  margin:0;
  padding:0;
  outline:0;
}

*,:after,:before {
  -webkit-font-smoothing:antialiased;
  -moz-font-smoothing:antialiased;
  -o-font-smoothing:antialiased;
  font-smoothing:antialiased;
  text-rendering:optimizeLegibility;
}

body {
  background: #fff;
  color: #666;
  font-size: 15px;
  font-family: $font-light;
  -webkit-backface-visibility: hidden;
}

p {
  font-size: 16px;
  margin-bottom: 15px;
  @include breakpoint(small) {
    font-size: 15px;
    margin-bottom: 10px;
  }
}

h1 {
  font-size: 36px;
  line-height: 38px;
  font-family: $font-light;
  color: $primary-color;
  margin: 20px 0;
  @include breakpoint(small) {
    font-size: 39px;
    line-height: 37px;
  }
  label {
    font-family: $font-light;
    font-size: 36px;
  }
  @include breakpoint(small) {
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    label {
      font-size: 25px;
    }
  }
}

h2, h3 {
  font-size: 22px;
  line-height: 24px;
  font-family: $font-light;
  color: #999;
  @include breakpoint(small) {
    font-size: 18px;
    line-height: 20px;
  }
}

h3 {
  color: #2b93ca;
}

h4 {
  font-size: 30px;
  font-family: $font-light;
  @include breakpoint(small) {
    font-size: 27px;
  }
}

h5 {
  font-size: 27px;
  color: #777;
  font-family: $font-light;
  @include breakpoint(small) {
    font-size: 24px;
  }
}

h6 {
  font-size: 18px;
  line-height: 20px;
  &.bordered {
    display: block;
    margin: 0 auto 30px auto;
    padding: 8px 0;
    color: #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }
}

strong, .strong {
  font-weight: 400;
  font-family: $font-medium;
}

ul {
  font-size: 13px;
  list-style: none;
}

ul.faq {
  list-style: disc;
  a {
    font-size: 17px;
    font-family: $font-medium;
  }
  p {
    font-family: $font-light;
  }
  .faq-content {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #eee;
    width: 100%;
    display: block;
  }
  li {
    padding: 5px 0;
  }
}

.close {
  float: right;
}

.clearfix {
  *zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  width: 100%;
  content:'';
  text-indent: -4000px;
  font-size: 0;
  line-height: 0;
}

.col-sm-4.bckt {
  width: 33.33333%;
  float: left;
  @include breakpoint(small) {
    width: 100%;
    float: none;
  }
}

.col-sm-8.form-container {
  width: 66.66667%;
  float: left;
  @include breakpoint(small) {
    width: 100%;
    float: none;
  }
}

.step-1, .spinner-bg {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 9999;
  top: 0;
  left: 0;
  padding-top: 15%;
  background: #fff;
  background: rgba(255, 255, 255, .95);
  @include animation-delay(.95s);
  &.fadeOut {
    @include animation-delay(0);
  }
  @include breakpoint(medium) {
    padding-top: 5%;
  }
  @include breakpoint(smallest) {
    padding-top: 30%;
  }
}

.step-1 {
  padding-top: 10%;
  min-height: 200px;
  overflow-y: scroll;
  .mdn-field .error-text {
    bottom: -13px;
  }
  .row-form {
    margin-bottom: 10px;
  }
}

.spinner-bg {
  background: #1998D3;
  background: rgba(46, 149, 202, .95);
}

.step-2 {
  position: relative;
}

.step-4 .bckt-selected {
  @include breakpoint(medium) {
    display: none;
    visibility: hidden;
    height: 0;
  }
}

.validate-mock {
  display: block;
  background: #ddd;
  width: 100%;
  height: 49px;
}

.mdn-field {
  input {
    max-width: 50%;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
  }
  h1 {
    margin: 20px auto;
  }
  h2 {
    margin: 0;
  }
  .error-text {
    bottom: 24px;
    left: 0;
    right: 0;
  }
  @include breakpoint(small) {
    h1 {
      margin: 10px auto 15px auto;
      font-size: 25px;
    }
  }
}

a {
  color: $primary-color;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    color: $primary-hover;
    text-decoration: none;
    @include transition(color 300ms,background-color 300ms,opacity 300ms);
  }
  img {
    border: 0;
  }
  &.underline {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #CCC;
    @include transition(border-bottom-color 300ms, background-color 300ms,opacity 300ms);
    &:hover {
      @include transition(border-bottom-color 300ms,background-color 300ms,opacity 300ms);
      border-bottom-color: #0066cc; 
    }
  }
}

input {
  border: 1px solid;
  border-color: #d2d2d2;
}

dd {
  margin-bottom: 15px;
}

label {
  display: block;
  font-family: $font-medium;
  font-weight: normal;
  margin-bottom: 2px;
  font-size: 12px;
}

.change-device {
  font-size: 10px;
  margin-top: 3px;
  color: #aaa;
  &:hover {
    color: #888;
  }
}

// May be a bad name, but normalized content wrapper for content sections that include 
// groups of bckts, documentation, etc. Keeps one main class for centralized padding 

.standard-content {
  padding: 30px 0 90px;
  @include breakpoint(small) {
    padding: 20px 0 30px;
  }
  .mice {
    color: #777;
  }
  h2 {
    color: #777;
    margin-bottom: 30px;
    @include breakpoint(small) {
      margin-bottom: 10px;
    }
  } 
  &.standard-bg {
    background-color: $main-bg;
  } 
  &.offset-bg {
    background-color: $offset-bg;  
  }
}

.mice {
  color:#fff;
  font-size:12px;
  display: block;
  @include breakpoint(small) {
    font-size: 11px;
    text-align: center;
  }
}

.plans {
  margin-top: 40px;
  @include breakpoint(small) {
    margin-top: 0;
  }
}

.current-plan {
  position: absolute;
  text-align: center;
  top: -20px;
  width: 100%;
  h3 {
    text-align: center;
    margin: 0;
    font-family: $font-medium;
  }
}

.bckt  {
  position: relative;
  height: 480px;
  min-height: 400px;
  padding: 20px 0;
  &:first-of-type {
    animation-delay: 0;
  }
  &:nth-of-type(2) {
    @include animation-delay(.2s);
    border-left: 1px solid #eee;
    @include breakpoint(small) {
      border-left: none;
    }
  }
  &:nth-of-type(3) {
    @include animation-delay(.4s);
  }
  h2 {
    font-family: $font-medium;
    color: #999;
    margin-bottom: 10px;
    span {
      display: block;
    }
  }
  &:nth-of-type(3) {
    border-left: 1px solid #ededed;
    @include breakpoint(small) {
      border: none;
      border-bottom: 1px solid #eee;
    }
  }
  ul {
    margin-bottom: 30px;
    color: #999;
    li:before {
      padding-right: 10px;
      content: '\2022';
      padding: 0 10px 0 6px;
      font-size: 13px;
      color: #999;
    }
    @include breakpoint(small) {
      margin-bottom: 15px;
    }
  }
  .btn-primary, .btn-secondary {
    margin-top: 20px;
    @include breakpoint(small) {
      margin-top: 10px;
    }
  }
  @include breakpoint(small) {
    border-bottom: 1px solid #eee;
    min-height: 0;
    height: auto;
    padding: 30px 0;
    &:nth-of-type(3) {
      border-bottom: none;
    }
  }
  &.bckt-selected {
    @include breakpoint(small) {
      margin-bottom: 20px;
    }
  }
  &.bckt-disabled {
    img {
      opacity: .3;
    }
    h2, .price, .price span {
      color: #bbb;
    }
  }
}

.bckt-actions {
  width: 100%;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  @include breakpoint(small) {
    position: relative;
  }
}

.price {
  font-size: 18px;
  font-family: $font-regular;
  color: #666;
  line-height: 17px;
  span {
    font-size: 13px;
    display: block;
    color: #999;
  }
}

.details-link {
  margin-top: 40px;
  color: #2b93ca;
  font-size: 13px;
  display: block;
  text-transform: lowercase;
  @include breakpoint(small) {
    margin-top: 15px;
  }
  &.disabled {
    color: #999;
    cursor: not-allowed;
  }
}

[class*="span"] {
  margin-left:0;
}

.bfh-phone {
  padding: 10px;
  height: 50px;
  @include border-radius(6px);
}

.bfh-zip {
  padding: 10px;
  height: 40px;
  @include border-radius(6px);
}

.check {
  color: green;
  font-size: 23px;
}

.x {
  color: $primary-color;
  font-size: 18px;
}

.terms {
  margin: 35px auto 0 auto;
  li {
    display: inline-block;
    padding: 0 4px;
  }
}

.disclaimer p {
  font-size: 9px;
}

.row-form {
  margin-bottom: 30px;
  position: relative;
  @include breakpoint(medium) {
    margin-bottom: 0;
  }
}

.input-container {
  @include breakpoint(medium) {
    margin-bottom: 30px;
  }
}

.error-text {
  position: absolute;
  font-size: 12px;
  font-family: $font-medium;
  color: #D45659;
  margin: 0;
  height: 40px;
  bottom: -42px;
  left: 17px;
  line-height: 14px;
}

textarea, input[type="text"], input[type="email"], .uneditable-input {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  @include transition(border linear 0.2s, box-shadow linear 0.2s);
  padding: 14px 6px;
  border-radius: 3px;
  color: #666;
  width: 100%;
  font-size: 14px;
  &:focus {
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted \9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  }
  &.error {
    border: 1px solid #D45659;
  }
}

input[type="radio"], input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  *margin-top: 0;
  line-height: normal;
}

#checkbox-input {
  width: 48px;
  height: 48px;
  background-color: #FFF;
  border: 1px solid #CCC;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3) inset;
  cursor: pointer;
  font-size: 24px;
  text-indent: 12px;
  line-height: 48px;
  color: transparent;
  &.selected {
    color: #27ae60;
  }
}

.checkbox {
  &:first-of-type {
    margin-right: 5px;
  }
  label {
    position: relative;
    padding-left: 33px;
    cursor: pointer;
    @include transition(all .2s ease);
    padding-top: 0;
    display: inline-block;
    font-size: 14px;
    &::before, &::after {
      content: '';
      position: absolute;
      top: 50%;
      margin-top: -10px;
      left: 0;
      width: 20px;
      height: 20px;
      @include border-radius(3px);
    }
  }
  @include breakpoint(small) {
    margin: 0 0 30px 0;
  }
  input {
    visibility: hidden;
  }
}

.checkbox label::before {
  box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset;
  background: #fff;
  border: 1px solid #ddd;
}

.checkbox label::after {
  background: #F89641;
  opacity: .2;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

.checkbox input:checked + label::after {
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  opacity: 1;
  box-shadow: 0 0 3px -1px #27AE60;
}

.support-callout {
  padding: 20px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  img {
    min-width: 30px;
  }
  h2 {
    color: #2b93ca;
    margin: 0;
    padding-top: 10px;
    @include breakpoint(small) {
      padding-top: 0;
    }
  }
  @include breakpoint(small) {
    padding: 10px 0;
  }
}

.print-link {
  float: left;
  margin-top: 40px;
  font-family: $font-regular;
  font-size: 14px;
  color: $primary-color;
  i {
    color: $secondary-color;
    font-size: 18px;
    padding-right: 5px;
    float: left;
  }
}

.callout-color {
  color: $secondary-color;
  font-family: $font-medium;
  &:hover {
    color: $secondary-color;
  }
}

.download-link {
  margin: 10px;
  margin-left: 0;
  float: left;
}


// Enroll Table

.enroll-table-wrap {
  padding: 0;
}

table.enroll {
  margin: 20px auto;
  width: 100%;
  .text-right {
    padding-right: 40px;
    @include breakpoint(smallest) {
      font-size: 12px;
      padding:10px 10px 10px 0;
      line-height: 100%;
    }
  }
  th {
    padding: 0 4px 10px 4px;
    font-size: 15px;
    line-height: 14px;
    font-family: $font-medium;
    @include breakpoint(small) {
      font-size: 11px;
      padding: 0 2px 10px 2px;
    }
  }
  tr {
    border-bottom: 1px solid #fff;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
  }
  td {
    background: $primary-color;
    color: #fff;
    font-size: 14px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-collapse: none;
    font-family: $font-light;
    p.mice {
      margin: 3px 0;
      font-size: 11px;
      color: #fff;
    }
    .icon {
      font-size: 19px;
    }
    @include breakpoint(smallest) {
      font-size: 12px;
      padding: 0px;
    }
  }
  .offset {
    td {
      background: $secondary-color;
      z-index: 0;
    }
  }
  .center {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-left: 1px solid rgba(255, 255, 255, .2);
    border-right: 1px solid rgba(255, 255, 255, .2);
    text-align: center;
    min-width: 110px;
    @include breakpoint(small) {
      min-width: 0;
    }
  }
}

.caption-side {
  display: table-cell;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg); /* Safari/Chrome */
  -moz-transform: rotate(-90deg); /* Firefox */
  -o-transform: rotate(-90deg); /* Opera */
  -ms-transform: rotate(-90deg); /* IE 9 */
  position: absolute;
  width: 215px;  
  text-align: center;
  margin: 0 0 0 -125px;
  font-size: 15px;
  line-height: 14px;
  font-family: $font-medium;
  @include breakpoint(small) {
    display: none;
    width: 0;
    height: 0;
  }
}

.app-side {
 bottom: 12%;
}

.support-side {
  bottom: 30%;
}

.insurance-side {
  bottom: 60%;
}

// Feels like some shame.scss but a necessary evil 

.lt-ie9 {
  .mdn-field {
    input {
      width: 200px;
    }
    .error-text {
      bottom: 24px;
    }
  }
  .checkbox-row {
    height: 60px;
    margin-bottom: 20px;
    label {
      padding-left: 5px;
    }
  }
  .row-form {
    margin-bottom: 0;
    input {
      height: auto;
      min-width: 100%;
      width: 300px;
    }
    input[type="checkbox"] {
      width: auto;
      min-width: 0;
      margin-left: 0;
      visibility: visible;
      margin-right: 10px;
    }
  }
  .input-container {
    margin: 0 0 30px 0;
    position: relative;
  }
  .error-text {
    bottom: -40px;
  }
  .caption-side {
    writing-mode: tb-rl;
    filter: flipv fliph;
    margin-left: -20px;
  }
}

.spinner-bg {
  padding-top: 25%;
  p {
    color: #fff;
    text-transform: uppercase;
  }
}

.spinner {
  margin: 0 auto;
  width: 100px;
  text-align: center;
}

.spinner > div {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 100%;
  margin: 0 5px;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.lt-ie10 .spinner, .lt-ie9 .spinner {
  display: block;
  height: 75px;
  background: url(../images/page-spinner.gif) 50% no-repeat;
  > div {
    display: none;
  }
}

@media print {
  .step-1, .step-2, .step-3 {
    display: none !important;
  }
  .step-4 .bckt-selected {
    width: 33.33% !important;
    visibility: visible !important;
    height: 300px !important;
    float: left !important;
    display: block !important;
    border-bottom: 0;
  }
  .step-4 .col-sm-8 {
    width: 66.66% !important;
    float: left;
  }
  footer {
    display: none;
  }
}
