// @import "globals";

.documentation {
  background: #f4f4f4;
  padding: 40px 0;
  h4 {
    margin-top: 0;
    @include breakpoint(medium) {
      text-align: center;
  }
}
.icon {
    margin: 0 8px;
}
ul {
    list-style: disc;
    margin: 20px 0 0 30%;
    @include breakpoint(medium) {
      list-style: none;
      text-align: center;
      margin: 0;
  }
}
li {
    padding: 3px 0 3px 10px;
}
.unacceptable ul {
    margin-left: 26.5%;
    @include breakpoint(medium) {
      margin-left: 0;
  }
}
.acceptable {
    border-right: 1px solid #ddd;
    @include breakpoint(medium) {
      border-left: none;
      margin-bottom: 40px;
  }
}
}