.btn {
    @include border-radius(3px);
    @include transition(all .4s linear);
    @include text-shadow(0 1px 0 rgba(0,0,0,0.2));
    @include appearance(none);
    @include active-bounce();
    border: 0;
    color: #fff;
    font-family: $font-medium;
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 0;
    width: auto;
    padding: 8px 20px;
    position: relative;
    text-align: center;
    &:hover {
      background: #ccc;
    }
    @include breakpoint(small) {
      font-size: 16px;
    }
    &.btn-primary {
      @include transition(all .4s linear);
      @include btn-primary-gradient();
      color:#fff;
        &:hover {
            @include text-shadow(0 1px 2px rgba(0,0,0,0.6));
        }
        &.btn-outline {
            background: none;
            border: 1px solid $primary-color;
            box-shadow: none;
            color: $primary-color;
            text-shadow: none;
            &:hover {
                border: 1px solid $primary-hover;
                color: $primary-hover;
            }
        }
    }
    
    &.btn-secondary {
        @include transition(all .2s ease);
        @include btn-secondary-gradient();
        border: 1px solid #EDEDED;
        box-shadow: none;
        color: $primary-color;
        text-shadow: none;
        &:hover {
            border: 1px solid #ddd;
            @include text-shadow(0 1px 1px rgba(0,0,0,0.2));
            color: $primary-hover;
        }
    }

    &.btn-topper {
        width: 30%;
        min-width: 150px;
        padding-left: 4%;
        padding-right: 4%;
        &.btn-primary {
          margin: 0 0 20px 0;
        }
    }

    &.btn-smaller {
        border-radius: 5px;
        font-size: 15px;
        padding-top: 4px;
        padding-bottom: 4px;
    }
    &.btn-disabled {
        background-image: none;
        background: #ccc;
        cursor: not-allowed;
    }
}

.btn-default.dropdown-toggle, .btn-tertiary {
    background: #ccc;
    background: $tertiary-color;
    border: 1px solid #fff;
    border: 1px solid rgba(255,255,255,.5);
    min-width: 134px;
    color: #fff;
    text-shadow: none;
    @include box-shadow(none);
    @include text-shadow(none);
    &:hover, &:focus {
        background: #ddd;
        background: $tertiary-hover;
        color: #fff;
    }
}

@include breakpoint(small) {
  .main-call-inner {
    .btn-topper {
      width: auto;
    }
  } 
}


// Enroll button on protection page 

.btn-enroll {
  padding-left: 35px;
  padding-right: 35px;
  border: 1px solid #fff;
  &:hover {
    border: 1px solid #eee;
  }
}

// stupid dropdown select

.btn-default.dropdown-toggle, .dropdown-toggle.btn-tertiary {
  @include border-radius(5px);
  padding-top: 5px;
  padding-bottom: 5px;
}

#selection_container {
  margin: 0 auto;
  width: 60%;
  @include breakpoint(medium) {
    width: 75%;
  }
  .bootstrap-select {
    width: 100%;
  }
}

#manlist_container, #modlist_container {
  float: left;
  padding: 1%;
  width: 50%;
  @include breakpoint(smallest) {
    display: block;
    width: 100%;
  }
}

#modlist_container .btn-default {
  opacity: .3;
  @include transition(all .3s ease);
}
