// @import 'compass/css3';
// @import "globals";

.deductible-container {
    @include box-shadow(inset 0 10px 10px -10px rgba(0,0,0,0.2),inset 0 -10px 10px -10px rgba(0,0,0,0.2));
    background-image: url('../images/main-hero-blue.jpg');
    background-size: cover;
    background-position: bottom center;
    border-top: 1px solid rgba(255,255,255,0.1);
    margin: 136px 0 0 0;
    min-height: 300px;
    max-width: 100%;
    padding: 0 0 40px 0;
    @include breakpoint(larger) {
        background-size: 1060px auto;
    }
    @include breakpoint(small) {
        margin-top: 30px;
        background: #222;
        min-height: 275px;
    }
}

.question {
    margin-top: -93px;
    margin-bottom: 14px;
    background-position: center bottom -2px;
    background-repeat: no-repeat;
    @include breakpoint(small) {
        margin: 0;
        padding: 0;
        display: none;
        background-image: none;
        .pulse {
            display: none;
        }
    }
}

.phone-drop {
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    text-align: center;
    form {
        margin-left:0;
    }
}

// this isn't in the markup on page load
.my_deductible {
    text-align: center;
    h2 {
        margin: 20px 0 5px 0;
        font-size: 50px;
        line-height: 40px;
        @include breakpoint(small) {
            font-size: 27px;
        }
    }
    .btn {
        margin: 30px auto 0;
        @include breakpoint(small) {
            margin: 20px 0 0;
        }
    }
    .phone p {
        margin: 0 auto;
        padding: 8px 0;
        max-width: 80%;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        color: #fff;
        font-size: 18px;
        font-family: $font-bold;
        @include breakpoint(small) {
            font-size: 15px;
        }
    }
    a:last-of-type {
        display: inline-block;
        margin: 20px 0 0;
        font-size: 15px;
        font-family: $font-bold;
        color: #eee;
    }
}

.background-deductable {
    filter: blur(5px);
    -webkit-filter: blur(5px);
    height: 315px;
    width: 100%;
    overflow: hidden;
    margin-top: 0px;
    z-index: -99;
    position: relative;
    @include breakpoint(small) {
        height: 0;
    }
}

.secondary-call {
  z-index: 900;
  text-align: center;
  line-height: 100%;
  @include breakpoint(small) {
    padding: 0;
    font-size: 14px;
    min-height: 215px;
    height: auto;
  }
  h3, a, p {
    color: #fff;
  }
  p {
    clear: both;
    @include breakpoint(small) {
      margin:0 0 20px;
    }
  }
  .deductible-call {
    display: inline-block;
    p {
      margin: 10px 0 2px 0;
    }
  }
}

.deductible-call {
  margin: 15px 0 0 0;
  p {
    font-size: 14px;
  }
  a {
    text-decoration: underline;
    font-family: $font-bold;
  }
}