footer {
	min-height: 80px;
  border-top: 5px solid $secondary-color;
	font-size: 12px;
  font-family: $font-light;
  padding: 25px 0;
  width: 100%;
  @include breakpoint(medium) {
    padding: 20px 0;
  }
  a {
    color: #666;
    &:hover {
      color: #444;
    }
  }
  ul {
   font-size: 13px;
   list-style: none;
  }
  // I really do feel bad about having to do this. 
  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: inherit;
  }

}

.footer-inner {
  @include make-row;
}

.left-logos {
	display: inline-block;
  @include breakpoint(medium) {
    width: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
  }
}

.social-logos {
	text-align: right;
  a {
    margin-left: 3px;
  }
  @include breakpoint(medium) {
    text-align: center;
  }
}

.asurion-logo {
  color: #999;
  font-size: 28px;
}

.footer-terms {
  li {
    display: inline-block;
  } 
  @include breakpoint(medium) {
    margin: 12px auto;
    padding: 0;
    text-align: center;
    float: none;
  } 
  @include breakpoint(small) {
    margin: 0 auto;
    width: 100%;
    li {
      display: block;
      padding: 0 0 5px 0;
    } 
  }
}

.footer-links li:before {
	padding-right: 10px;
	content: '\2022';
	padding: 0 10px 0 6px;
  font-size: 20px;
  color: $secondary-color;
  @include breakpoint(small) {
    content: none;
    padding: 0;
  }
}

.footer-links li:first-child {
	padding-left: 0;
}

.footer-links li:first-child:before {
	padding-right: 0;
	content: '';
}
