.logo {
	display: block;
  display: inline-block;
	width: auto;
	height: auto;
	padding-top: 30px;
	color: #fff;
	font-size: 33px;
	font-family: 'Asurion';
  @include active-bounce();
  @include transition(all .2s ease);
  float: left;
  &:hover, &:focus {
    color: #eee;
  }
  @include breakpoint(medium) {
    float: none;
  }
} 

.es-wrapper {
	text-align:right;
}

.es-link {
	color: #fff;
	font-size: 11px;
  font-family: $font-light;
	line-height: 12px;
  &:hover {
    color: #eee;
  }
  @include breakpoint(small) {
    display: none;
  }
}

// Header

header {
	position: relative;
	height: 120px;
  margin: 0;
  @include transition(all .3s ease);
  @include breakpoint(small) {
    height: 90px;
    text-align: center;
  }
}
