// home page hero
.main-hero {
	background-size: cover;
	position: relative;
	z-index: 1001;
	margin-top: -116px;
	padding-top: 116px;
	background-position-x: center;
	background-position-y: bottom;
	@include breakpoint(small) {
		background-size: 700px;
		background-position-y: top;
	}
}

.main-call {
  	margin: 50px 0 0 8%;
  	@include breakpoint(small) {
  		margin: 0 0 50px 0;
  		padding-right: 0;
  	}
  	h2 {
  		font-size: 54px;
  		color: #fff;
  		text-align: left;
  		letter-spacing: -1px;
  		line-height: .9;
  		max-width: 530px;
  		margin-bottom: 35px;
  		@include breakpoint(small) {
  			font-size: 38px;
  		}
  	}
  	p {
  		color: #0066cc;
  	}
  	.mice {
  		text-align: left;
  	}
}

// protection hero and documentation hero
.background-inner {
	margin-top: -125px;
	padding-top: 125px;
	width: 100%;
	border-bottom: 1px solid #ebebeb;
	background: #606060 url('../images/inner-bg-texture.jpg') repeat;
	position: relative;
	z-index: 1;
	@include transition(all .3s linear);
	.container {
		padding-top: 40px;
		padding-bottom: 50px;
		@include breakpoint(small) {
			padding-top: 20px;
			padding-bottom: 20px;
		}
	}
}

.main-call-inner {
  margin: 20px auto 0 auto;
  p {
    color: #fff;
    font-size: 18px;
    margin-bottom: 40px;
  }
  @include breakpoint(small) {
    margin-bottom: 0;
    padding-bottom: 10px;
    text-align: center;
    font-size: 14px;
  }
}

.protection {
	padding: 30px 0 50px 0; 
	h4, p, a {
		color: #fff;
	}
	h1 {
		margin: 30px 0 20px 0;
	}
	h4 {
		margin: 0 0 30px 0;
	}
	@include breakpoint(small) {
		padding: 10px 0 30px 0;
		.main-call-inner {
			float: none;
		 	width: 100%;
		}
	}
  	.protection-phone {
  		@include breakpoint(small) {
    		display: none;
  		}
	}
}

.background-inner .container {
	padding-top: 40px;
	padding-bottom: 50px;
}

.protection-plan {
  float: left;
  margin: -30px 0 0 0;
  @include breakpoint(medium) {
    margin-top: 0;
  }
  table {
    max-width: 95%;
    margin: 10px auto;
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-family: $font-bold;
    @include breakpoint(small) {
      font-size: 15px;
    }
    @include breakpoint(smallest) {
      font-size: 12px;
    }
  }
  td, th {
    width: 20%;
    border: 1px solid #fff;
    text-align: center;
    line-height: 16px;
    &.blank {
      border: none;
      background: none;
    }
  }
  th {
    background: rgba(255, 255, 255, .2);
    padding: 10px 5px;
    &.best-value {
      background: f14951;
      &.blank {
        border: none;
      } 
    }
  }
  td {
    padding: 20px 5px;
    &.best-value {
      background: $primary-color;
    }
    &.heading {
      background: rgba(255, 255, 255, .2);
    }
  }
}