.modal-backdrop {
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-backdrop.fade {
  background-color: rgba(0, 0, 0, 0.0);
  @include transition(opacity, .3s ease);
}

.modal-backdrop.fade.in {
  background: rgba(0, 0, 0, 0.8);
}

.modal-backdrop.in, .modal-backdrop.fade.in {
  @include opacity(1);
}

html.lt-ie9 {
  .modal-backdrop.in, .modal-backdrop.fade.in {
    background: url('../images/modal-bg.png') repeat;
    filter: none;
  }
}

.modal-header {
  h4 {
    text-align: center;
  }
  h2 {
    margin-top: 15px;
    color: #333;
    letter-spacing: 0;
    font-size: 24px;
    font-family: $font-medium;
    line-height: 30px;
  }
}
.modal-body {
  max-height: 350px;
  overflow-y: scroll;
  padding: 15px 40px;
  @include breakpoint(small) {
    padding: 15px;
  }
  h6 {
    text-decoration: underline;
    margin-bottom: 5px;
  }
  p {
    text-align: left; 
  }
  .info {
    padding: 0;
    color: #999;
    text-align: center;
    font-size: 12px;
  }
  li {
    margin-right: 30px;
    margin-bottom: 10px;
    margin-left: 30px;
    font-size: 14px;
    line-height: 120%;
    @include breakpoint(small) {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}

.modal-footer {
  text-align: center;
  padding: 14px 15px 15px;
  margin-bottom: 0;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  @include border-radius(0 0 6px 6px);
  @include box-shadow(inset 0 1px 0 #fff);
}

.disclaimer-text {
  font-size: 12px;
  line-height: 14px;
  color: #aaa;
}
