.shipping {
    position: relative;
    min-height: 287px;
    height: 450px;
    background-size: 120%;
    color: #fff;
    margin-top: 0px;
    h2 {
        margin: 30px 0 20px 0;
  }
}

// Table within shipping section

.shipping-table {
    margin: 0 auto;
    max-width: 600px;
    @include breakpoint(smallest) {
        margin-bottom: 10px;
    }
    th {
        font-family: $font-bold;
        padding: 5px 40px;
        @include breakpoint(small) {
            padding: 5px 10px;
        }
    }
    td {
        width: 50%;
        vertical-align: top;
        padding: 8px 40px 5px 40px;
        p {
            margin: 0;
            line-height: 19px;
            b {
                @extend .bold;
            }
        }
        @include breakpoint(small) {
            padding: 8px 10px 5px 10px;
            p {
                font-size: 13px;
            }
        }
    }
    tr {
        border-bottom: 1px solid #fff;
        border-bottom: 1px solid rgba(255, 255, 255, .4);
        &.last {
            border-bottom: none;
        }
        .border-left {
            border-left: 1px solid #fff;
            border-left: 1px solid rgba(255, 255, 255, .4);
        }
    }
}