.bckt {
	text-align: center;
	margin-left: 0;
	p {
		margin-bottom: 25px;
	}
	&.last {
		margin-right: 0;
	}
	@include breakpoint(medium) {
		&.col-xs-4 {
			width: 33.33%;
		}
	}
	@include breakpoint(small) {
		margin-top: 0;
		margin-bottom: 40px;
		&:first-of-type {
			margin-top: 30px;
		}
		&.col-xs-4 {
			width: 100%;
		}
		p {
			margin-bottom: 10px;
		}
	}
}